@import './abstracts/variable';
@import './abstracts/mixin';

@import './base/reset';

@import './page/flex1';
@import './page/flex2';
@import './page/flex3';
@import './page/flex4';
@import './page/flex5';
