.flex4 {
	header {
		.group-flex {
			position: relative;
			width: 100%;
			height: 300px;
			background-color: #000;

			h1 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100px;
				height: 50px;
				background-color: $bg;

				a {
					display: block;
				}
			}

			.sns {
				float: left;
				width: 50px;
				height: 50px;
				background-color: $bg;
			}

			.login {
				float: right;
				width: 50px;
				height: 50px;
				background-color: $bg;
			}
		}

		.menu-area {
			text-align: center;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background-color: #ccc;
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
			}
		}
	}

	main {
		width: 800px;
		margin: 10px auto;

		article {
			&.box1 {
				background-color: #ccc;
				padding: 10px;
				margin: 10px 0;

				.top {
					height: 100px;
					background-color: $bg;
					margin-bottom: 10px;
				}
				.bottom {
					display: flex;
					padding: 10px;
					background-color: $bg;

					.left {
						margin-right: 10px;
						width: calc(100% - 160px);
						ul {
							display: flex;
							flex-wrap: wrap;

							li {
								width: calc((100% - 20px) / 3);
								height: 100px;
								background-color: #000;
								color: #fff;
								margin: 0 10px 10px 0;

								&:nth-child(3n) {
									margin-right: 0;
								}
							}
						}
					}
					.right {
						width: 150px;
						height: 210px;
						background-color: #000;
					}
				}
			}

			&.box2 {
				padding: 10px;
				background-color: #ccc;
				display: flex;
				flex-direction: column;

				ul {
					li {
						margin-bottom: 10px;
						a {
							display: flex;
							img {
								width: 150px;
								height: 150px;
								margin-right: 10px;
								object-fit: cover;
							}

							p {
								flex: 1;
								overflow: hidden;
								background-color: $bg;
							}
						}
					}
				}
			}
		}
	}

	footer {
		height: 100px;
		background-color: #ccc;
	}
}
