.flex1 {
	background-color: #ccc;

	header {
		width: 100%;
		height: 100px;
		background-color: #000;
	}

	main {
		article {
			width: 800px;
			margin: 10px auto;

			&.box1 {
				height: 200px;
				background-color: $bg;
			}

			&.box2 {
				display: flex;
				gap: 10px;

				div {
					flex: 1;
					height: 100px;
					background-color: $bg;
				}
			}

			&.box3 {
				display: flex;
				gap: 10px;

				div {
					flex: 1;
					height: 100px;
					background-color: $bg;
				}
			}

			&.box4 {
				display: flex;
				justify-content: space-between;
				padding: 10px;
				background-color: #000;

				div {
					width: calc(50% - 5px);
					margin-right: 10px;
					height: 100px;
					background-color: $bg;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
