.flex2 {
	background-color: #ccc;
	margin: 10px 10px 10px 160px;

	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 150px;
		height: 100%;
		background-color: #000;
	}

	main {
		article {
			margin: 10px auto;

			&.box1 {
				height: 300px;
				background-color: $bg;
			}

			&.box2 {
				display: flex;
				gap: 10px;

				div {
					flex: 1;
					height: 100px;
					background-color: $bg;
				}
			}

			&.box3 {
				height: 100px;
				background-color: $bg;
			}

			&.box4 {
				height: 50px;
				background-color: $bg;
			}

			&.box5 {
				display: flex;
				justify-content: space-between;

				div {
					width: calc(80% - 5px);
					height: 80px;
					margin-right: 10px;
					background-color: $bg;

					&:last-child {
						width: calc(20% - 5px);
						margin-right: 0;
					}
				}
			}

			&.box6 {
				display: flex;

				div {
					width: calc(30% - 5px);
					height: 100px;
					margin-right: 10px;
					background-color: $bg;

					&:last-child {
						width: calc(70% - 5px);
						margin-right: 0;
					}
				}
			}

			&.box7 {
				height: 100px;
				background-color: $bg;
			}
		}
	}
}
